*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../assets/fonts/background.jpg);
}

.wrapper{
    width: 800px;
    height: 100vh;
    background-color: lightslategray;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 30%;
}

.avatar{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.avatar img{
    border-radius: 50%;
}

.title{
    margin-top: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

.title h2{
    padding-top: 10px;
}

.skills__title{
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

.skills{
    margin-top: 40px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.sharp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.sharp h3{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.plus{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.plus h3{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.html{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.css{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.js{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.skills > div > h3{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.git{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}