*{
    padding: 0;
    margin: 0;
}

body{
  /*  background-image: url(../assets/fonts/background.jpg);*/
  background-color: #1c1719;
}

h1{
    color: wheat;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

h2{
    color: wheat;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

h3{
    color: wheat;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.wrapper{
    width: 800px;
    height: 100vh;
    background-color: lightslategray;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 35%;
    background-color: rgb(61,41,50);
}

.avatar{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.avatar img{
    border-radius: 50%;
}

.title{
    margin-top: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

.title h2{
    padding-top: 10px;
}

.skills__title{
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

.skills{
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: rgb(46,31,37);
    padding-top: 40px;
}

.sharp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.skills > div > img{
    margin-top: auto;
    margin-bottom: auto;
}

.plus{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    margin-top: -10px;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.html{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.html > img{
    margin-left: 11px;
}

.html > h3{
    margin-left: 15px;
}

.css > img{
    margin-left: 11px;
}

.css > h3{
    margin-left: 15px;
}

.js > img{
    margin-left: 11px;
}

.js > h3{
    margin-left: 15px;
}

.git > img{
    margin-left: 11px;
}

.git > h3{
    margin-left: 15px;
}

.css{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.js{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.skills > div > h3{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.git{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.info{
    width: 100%;
    height: 100%;
    background-color: #382e32;
}

.links{
    width: 100%;
    height: 20%;
    background-color: #2a2226;
}